<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
    <!-- <script type="module" src="./index.js"></script> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script src="https://ajax.aspnetCDN.com/ajax/jQuery/jQuery-3.3.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt47m0SqIKRIfHOReFJOY5okxGecIwMSc&libraries=geometry,places"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

  </head>

  <style>
    body {
      background-image: url('https://assets.gqindia.com/photos/625e4dacfcfaab5b0ecc5ee0/16:9/w_1280,c_limit/vada-pav%20(1).jpg');
      opacity: 0.8;
    }

    #map{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 90%;
      aspect-ratio: 2/1;
    }
  </style>

  <body>
    <!-- navbar-dark bg-dark -->
    <nav class="navbar navbar-dark bg-dark fixed-top opacity-75">
      <div class="container-fluid">
        <a class="navbar-brand opacity-100" href="#">Food Finder</a>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="showmaps">Maps</a>
          </li>
        </ul>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="offcanvas offcanvas-end text-bg-dark"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
              FoodFinder
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <form class="d-flex mt-3" role="search">
              {% csrf_token %}
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-success" type="submit">Search</button>
            </form>
            <br />
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutus">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile">Profile</a>
              </li>
            </ul>
            <br />
            <a
              class="btn btn-light rounded-pill px-3"
              onclick="logout()"
              type="button"
              >Logout</a
            >
            <!-- <button type="button" class="btn btn-dark border border-primary ">Logout</button> -->
          </div>
        </div>
      </div>
    </nav>

    <div id="map"></div>
  </body>
  <script>
    
    async function fetch_call(){
      $.ajax({
        type:"GET",
        url:"/fetch_location",
        data:{},
        success(data){
          console.log(data)
          initMap(data.locations,data.name,data.avg_ratings)
        }
      })
    }

    async function initMap(locations,marker_label,avg_ratings) {
      const map =await new google.maps.Map(document.getElementById('map'), {
        zoom: 6,
        center: { lat: 19.07283, lng: 72.88261 }
      })

      const infoWindow = new google.maps.InfoWindow({
        content: '',
        disableAutoPan: true
      })

      // Add some markers to the map.
      const markers =await locations.map((position, i) => {
        // const label = String.fromCharCode(65 + (i % 26)) // A, B, C, ...
        const label = marker_label[i]
        url = 'https://res.cloudinary.com/dxo9b7e2h/image/upload/v1697257896/maps_icon/flag_'+avg_ratings[i]+'.png'
        // console.log(avg_ratings)
        const marker = new google.maps.Marker({
          position,
          label,
          map,
          icon: {
            url: url,
            scaledSize: new google.maps.Size(32, 32),

        }
        })

        // Open info window when marker is clicked
        marker.addListener('click', () => {
          infoWindow.setContent("Average Rating :"+avg_ratings[i])
          infoWindow.open(map, marker)
        })

        return marker
      })

      // Add a marker clusterer to manage the markers.
      new MarkerClusterer(map, markers, {
        imagePath:
          'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
      })
    }

    window.addEventListener('load', fetch_call);
  </script>
</html>
